/*MY CSS*/
/*CONTENT*/
.logo {
    max-height:50px;
}
.form-label {
    font-weight:bold;
}
/*FOOTER*/
.geolocation {
    width: 100%;
    min-height: 480px;
}

/*W3.CSS*/
/*NAVIGATION*/
.mobile-bar {
    margin-top: 46px;
}
/*SLIDE*/
.mySlides {
    display: none;
}
.slide-image {
    width: 100%;
}
/*CONTENT*/
.w3-content {
    max-width: 2000px;
    margin-top: 46px;
}
.container {
    max-width: 800px !important;
}
.row-input {
    margin: 0 -16px 8px -16px;
}
/*FOOTER*/
.icon {
    width: 30px;
}
